:root {
  --header-height: 126px;
  --container-max-width: 1200px;
  --container-padding: 0 22px;
  --accent-color: #cf1d05;
  --global-bg-color: #ffffff;
  --white: #ffffff;
  --global-text-color: #000000;
  --secondary-text-color: #242424;
  --white-text-color: #ffffff;
}
